<div id="message_<%= message.id %>" class="message flex-column message_body_wrap msg-text-<%= message.user_id %> bg-secondary align-self-start text-white rounded-4 align-self-start mb-1">
  <% if message.replied_to.present? %>
    <a href="#message_<%= message.replied_to.id %>" class="text-white text-decoration-none reply-link ">
      <div class="reply message_content rounded-end1 m-2 overflow-hidden">
        <small class="fw-semibold">
          <%= message.replied_to.user.name %>
        </small><br>
        <small>
          <%= message.replied_to.body %>
        </small>
      </div>
    </a>
  <% end %>

  <div class="message_content overflow-x-hidden <%= 'read' if message.read %>"
      data-controller="message-read-status" 
      data-message-read-status-target="message" 
      data-message-id="<%= message.id %>"
      data-dialogue-id="<%= message.dialogue.id %>">

    <% if params[:edit_message_id].to_i == message.id %>
      <%= form_for [@dialogue, message], html: { class:"d-flex align-items-center" } do |f| %>
        <%= f.text_area :body, class:"form-control form-control-sm me-1" %>
        <%= f.submit 'Save', class:"btn btn-primary me-1" %>
        <%= link_to 'Cancel', dialogue_messages_path(@dialogue), class:"btn btn-secondary" %>
      <% end %>
    <% else %>
      <%= auto_link(html_escape(message.body), html: { class:'text-white', target: '_blank', rel: 'noopener noreferrer' }) %>
        
      <% if message.images.present? %>
        <br>
        <% message.images.each do |image| %>
          <%= image_tag image.thumb.url %>
        <% end %>
      <% end %>

      <% if message.link_url.present? %>
        <div class="link-preview">
          <a href="<%= message.link_url %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
            <div class="link-preview-details">
              <h4 class="text-white"><%= message.link_title %></h4>
              <p class="text-white"><%= message.link_description %></p>
            </div>
            <% if message.link_image.present? %>
              <img src="<%= message.link_image %>" alt="<%= message.link_title %>" class="link-preview-image">
            <% end %>
          </a>
        </div>
      <% end %>
      <br>
    <% end %>
    <small class="d-none read-<%= message.user_id %>">
      <% if message.read %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
        </svg>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
        </svg>
      <% end %>
    </small>
    <small class="msg_time">

      <% if message.created_at != message.edited_at %>
        edited
      <% end %>
      <%= message.created_at.strftime("%d.%m.%y, %H:%M")%>
    </small>

    <%= link_to dialogue_messages_path(message.dialogue_id, replied_to_id: message.id), class: "reply-link text-decoration-none text-white", data: { turbo_frame: "new_message" } do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
        <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z"/>
      </svg>
    <% end %>

    <% if params[:edit_message_id].to_i != message.id && @current_user_id == message.user_id %>
      <%= link_to dialogue_messages_path(message.dialogue.id, edit_message_id: message.id), class: "msg_btn_edit msg_btn_action text-decoration-none d-none" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
        </svg>
      <% end %>

      <%= link_to dialogue_message_path(message.dialogue.id, message.id), data: { turbo_method: :delete }, class: "msg_btn_delete msg_btn_action text-decoration-none d-none" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      <% end %>
    <% end %>
  </div>
</div>