<div class="message_body_wrap msg-text-<%=message.user_id%> bg-secondary text-white rounded-4 align-self-start mb-1">
  <div class="message_content">
   <% if params[:edit_message_id].to_i == message.id %>
    <%= form_for [@dialogue, message], class:"" do |f| %>
      <%= f.text_field :body, class:"form-control form-control-sm mb-1" %>
      <%= f.submit 'Save', class:"btn btn-primary" %>
      <%= link_to 'Cancel', dialogue_messages_path(@dialogue), class:"btn btn-secondary" %>
    <% end %>
   <% else %>
      <%= message.body %>
      <br>
    <% end %>
    <small class="msg_time">
        <% if message.created_at != message.updated_at %>
          edited
        <% end %>
      </small>
      <small class="msg_time">
        <%= message.created_at.strftime("%d.%m.%y, %H:%M")%>
      </small>
        <%= link_to dialogue_messages_path(message.dialogue.id, edit_message_id: message.id), class: "msg_btn_edit text-decoration-none d-none" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
        </svg>
      <% end %>

      <%= link_to dialogue_message_path(message.dialogue.id, message.id), data: { turbo_method: :delete }, class: "msg_btn_delete text-decoration-none d-none" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      <% end %>
  </div>
</div>