<div class="col-12 d-flex justify-content-between" style="height: 700px">
  <%= render "dialogues/sidebar" %>

  <div class="d-flex row col-9" >
    <nav class="navbar navbar-expand-lg fixed bg-body-tertiary messages_recipient">
      <div class="container-fluid">
        <span class="navbar-brand" href="#">
          <% if current_user.id == @dialogue.sender_id %>
            <p> <%= @dialogue.recipient.name %> </p>
          <% else %>
            <p> <%= @dialogue.sender.name %> </p>
          <% end %>
        </span>
      </div>
    </nav>
    <hr>
    <div class="messages_text h-75 overflow-scroll d-flex flex-column ">
      <% @messages.each do |message| %>
        
          <% if current_user.id == message.user_id %>
            <div class="message_body_wrap bg-success rounded-4 text-bg-success align-self-end mb-1">
              <div class="message_content">
                <%= message.body %>
              </div>
            </div>
          <% else %>
            <div class="message_body_wrap bg-secondary rounded-4 text-bg-success align-self-start mb-1">
              <div class="message_content">
                <%= message.body %>
              </div>
            </div>
          <% end %>
        

      <% end %>
    </div>
    <%= render "messages/new" %>
  </div>
</div>
