<div class="col-12 row bg-light-subtle h-100">
  <div class="col-12 col-lg-3 d-lg-flex flex-column py-1">
    <%= render "dialogues/sidebar" %>
  </div>

  <div class="msg-display col-12 col-lg-9 py-1 d-flex flex-column">
    <nav class="navbar navbar-expand-lg fixed py-0 messages_recipient">
      <div class="container-fluid">
        <span id="back-arrow" class="d-inline d-lg-none text-dark-emphasis">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </span>
        <span class="navbar-brand p-0 d-flex align-items-center text-dark-emphasis">
          <% if current_user.id == @dialogue.sender_id %>
            <%= @dialogue.recipient.name %>
          <% else %>
            <%= @dialogue.sender.name %>
          <% end %>

          <% if @dialogue.pin_dialogue %>
            <%= link_to dialogue_unpin_path(@dialogue), data:{turbo_method: :patch}, id: "unpin_link", class: 'ms-1 text-secondary' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-fill" viewBox="0 0 16 16">
                <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354"/>
              </svg>
            <% end %>
          <% else %>
            <%= link_to dialogue_pin_path(@dialogue), data:{turbo_method: :patch}, id: "pin_link", class: 'ms-1 text-secondary' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin" viewBox="0 0 16 16">
                <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354m1.58 1.408-.002-.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a5 5 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a5 5 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.8 1.8 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14q.091.15.214.271a1.8 1.8 0 0 0 .37.282"/>
              </svg>
            <% end %>
          <% end %>
        </span>

        <%= link_to dialogue_path(@dialogue), data:{turbo_method: :delete}, id:"dialogue_delete_link", class:"link-danger opacity-75" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
        <% end %>
      </div>
    </nav>

    <%= turbo_stream_from "dialogue_#{@dialogue.id}_messages" %>
    <div class="message_window flex-grow-1 p-2 overflow-scroll d-flex flex-column <%= params[:replied_to_id].present? ? 'message-window-height' : '' %>" id="messages">
      <%= render @messages %>
      <span id="down-point d-flex flex-column"></span>
    </div>

    <span class="scrol-down-arrow d-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
      </svg>
    </span>

    <div class="text-muted d-flex justify-content-start align-items-center">
      <%= render "messages/new" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbo:load', function() {
  const msgDisplay = document.querySelector('.msg-display');
  const messageWindow = document.querySelector('.message_window');
  if (!msgDisplay || !messageWindow) return; // Проверка на наличие элементов

  const originalMsgDisplayHeight = msgDisplay.offsetHeight;
  const originalMessageWindowHeight = messageWindow.offsetHeight;
  const bottomOffset = 80; // Дополнительный отступ

  function adjustForKeyboard(keyboardHeight) {
    if (keyboardHeight > 0) {
      msgDisplay.style.height = `${window.innerHeight - keyboardHeight - bottomOffset}px`;
      messageWindow.style.height = `${window.innerHeight - keyboardHeight - bottomOffset - document.querySelector('.messages_recipient').offsetHeight - document.querySelector('.text-muted').offsetHeight}px`;
    } else {
      msgDisplay.style.height = `${originalMsgDisplayHeight}px`;
      messageWindow.style.height = `${originalMessageWindowHeight}px`;
    }
  }

  // Обработчики для iOS
  window.addEventListener('focusin', () => {
    if (window.visualViewport) {
      const keyboardHeight = window.innerHeight - window.visualViewport.height;
      if (keyboardHeight > 100) {
        adjustForKeyboard(keyboardHeight);
      }
    }
  });

  window.addEventListener('focusout', () => {
    adjustForKeyboard(0);
  });

  // Обработчики для Android
  window.addEventListener('resize', () => {
    const currentHeight = window.innerHeight;
    const originalHeight = document.documentElement.clientHeight;
    const heightDiff = originalHeight - currentHeight;

    if (heightDiff > 100) {
      adjustForKeyboard(heightDiff);
    } else {
      adjustForKeyboard(0);
    }
  });
});
</script>