<div class="col-12 d-flex justify-content-around"  style="height: 935px;">
  <%= render "dialogues/sidebar" %>

  <div class="d-flex row col-9">
    <nav class="navbar navbar-expand-lg fixed bg-body-tertiary py-0 messages_recipient">
      <div class="container-fluid">
        <span class="navbar-brand p-0" href="#">
          <% if current_user.id == @dialogue.sender_id %>
            <p> <%= @dialogue.recipient.name %> </p>
          <% else %>
            <p> <%= @dialogue.sender.name %> </p>
          <% end %>
        </span>
      </div>
    </nav>
    <hr>

    <%= turbo_stream_from @dialogue %>
    <div class="messages_text h-75 overflow-scroll d-flex flex-column" id="messageBody">
      <%= render "messages/message" %>
    </div>

    <%= render "messages/new" %>
  </div>
</div>

<script>
  var objDiv = document.getElementById("messageBody");
  objDiv.scrollTop = objDiv.scrollHeight;
</script>