<div class="col-12 row bg-light-subtle h-100">
 <!-- <div class="col-12 col-lg-3 d-lg-flex flex-column py-1 h-100">-->
    <%= render "dialogues/sidebar" %>
  <!--</div>-->

  <div class="dialogues-display col-12 col-lg-9 h-100 ">

    <nav class="navbar navbar-expand-lg fixed py-0 messages_recipient mb-2">
      <div class="container-fluid">
        <span id="back-arrow" class="d-inline d-lg-none text-dark-emphasis">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </span>
        <span class="navbar-brand p-0 d-flex align-items-center text-dark-emphasis">
          All users
        </span>
      </div>
    </nav>
    <!--message_window p-2 overflow-scroll d-flex flex-column <%= params[:replied_to_id].present? ? 'message-window-height' : '' %>-->
    <div class="overflow-auto d-flex flex-column users_list_wrap">
      <%= form_with method: :get do |form|%>
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <%= form.text_field :search, placeholder:"search user", class:"form-control me-2" %>
          <%= form.submit "Search", class:"btn btn-success" %>
        </div> 
      <% end %>
      <%= render "dialogues/dialogue_new"%>
    </div>

  </div>
</div>