<div class="col-12 d-flex justify-content-evenly" style="height: 935px;">
  <%= render "dialogues/sidebar" %>

  <div class="col-9 overflow-hidden">
    <nav class="navbar navbar-expand-lg fixed py-0 messages_recipient mb-2">
      <div class="container-fluid ">
        <span class="navbar-brand p-0 d-flex align-items-center text-dark-emphasis">
          Chat with
        </span>
      </div>
      <%= form_with method: :get, class:"me-2" do |form|%>
      <div class="input-group me-2">
        <%= form.text_field :search, placeholder:"search user", class:"form-control ps-2 pe-0 pt-0 pb-0" %>
        <%= form.submit "Search", class:"btn btn-outline-secondary p-0" %>
      </div> 
    <% end %>
    </nav>

    <div class="overflow-scroll d-flex flex-column users_list_wrap">
      <small class="px-3 mb-1"> All users </small>
      <%= render "dialogues/dialogue_new"%>
    </div>
  </div>

</div>
