<ul class=" nav nav-pills flex-column mb-auto">
  <% @user_dialogues.each do |dialogue| %>
    <li class="dialogue nav-item user_list_item d-flex align-items-center justify-content-between <%= 'list_active_item' if params[:dialogue_id] == dialogue.id.to_s %>"
        data-sender-id="<%= dialogue.sender_id %>" 
        data-recipient-id="<%= dialogue.recipient_id %>" 
        data-current-user-id="<%= current_user.id %>" 
        data-recipient-name="<%= User.find(dialogue.recipient_id).name %>"
        data-sender-name="<%= User.find(dialogue.sender_id).name %>">
      <%= link_to dialogue_messages_path(dialogue), class:"nav-link sidebar_recipient_max-height col-10 fw-semibold #{'link-secondary' if params[:dialogue_id] != dialogue.id.to_s}" do %>
        <span>
        <span class="recipientName"></span>
          <% if dialogue.pin_dialogue %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-fill" viewBox="0 0 16 16">
              <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354"/>
            </svg>
          <% end %>
        </span>

        <span class="badge rounded-pill bg-danger <%= 'd-none' if dialogue.unread_messages_count_for(current_user) == 0 %>">
          <%= dialogue.unread_messages_count_for(current_user) %>
        </span><br>

        <% if dialogue.last_message %>
          <small class="fw-light"> <%= dialogue.last_message %> </small>
          <small class="fw-light ms-3"> <%= dialogue.updated_at.strftime("%H:%M") %> </small>
        <% end %>
      <% end %>
      <div class="vr col-1 mx-1"></div>

      <%= link_to dialogue_path(dialogue), data:{turbo_method: :delete}, class:"link-danger opacity-75 col-1 " do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      <% end %>
    </li>
    <hr class="my-1 p-0">
  <% end %>
</ul>
<script>
  function updateRecipientNames() {
    const dialogues = document.querySelectorAll('.dialogue');

    dialogues.forEach(function(dialogueElement) {
      const senderId = dialogueElement.getAttribute('data-sender-id');
      const recipientId = dialogueElement.getAttribute('data-recipient-id');
      const currentUserId = dialogueElement.getAttribute('data-current-user-id');
      const senderName = dialogueElement.getAttribute('data-sender-name');
      const recipientName = dialogueElement.getAttribute('data-recipient-name');

      let displayedName;
      if (currentUserId === senderId) {
        displayedName = recipientName;
      } else {
        displayedName = senderName;
      }

      const recipientNameElement = dialogueElement.querySelector('.recipientName');
      recipientNameElement.innerText = displayedName;
    });
  }

  // Event when page load or partial refresh completes with Turbo
  document.addEventListener('turbo:load', updateRecipientNames);

  // Let's call the function immediately so that it works the first time the page is loaded.
  updateRecipientNames();
</script>