<!DOCTYPE html>
<html>
  <head>
    <title>MyChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--<meta name="turbo-visit-control" content="reload">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <%= javascript_importmap_tags %>
    <style>
    <%= ".msg-text-#{current_user&.id}" %>{
        align-self: end !important;
        background: #198754 !important;
        color: #fff;
      }
      <%= ".read-#{current_user&.id}" %>{
        display: inline-block !important;
        align-self: end !important;
      }
    </style>
  </head>

  <body>
    <div class="container body_height">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      
      <%= yield %>

      <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    </div>
    <!-- Image Preview Modal -->
    <div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-labelledby="imagePreviewLabel" aria-hidden="true" data-turbo-permanent>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imagePreviewLabel">Image Preview</h5>
            <button type="button" class="btn-close" id="closeModal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-wrap" id="imagePreviewContainer">
            <!-- Images will be added here dynamically -->
          </div>
          <div class="modal-footer">
            <input type="file" id="addMoreImages" multiple class="d-none">
            <label for="addMoreImages" class="btn btn-outline-success">+ Add Image</label>
            <button type="button" class="btn btn-secondary" id="cancelUpload">Cancel</button>
            <button type="button" class="btn btn-success" id="confirmUpload">Send</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
